//Author: Ernani Danting
//Description: This mixins will help speed up development by creating obvious rules for creating layouts.
@mixin make_div($backgroundColor:none,$padding: 0px,$borderWidth:"1px",$borderColor:"#000"){
    background-color: $backgroundColor;
    border: $borderWidth $borderColor solid;
    padding: $padding;
}
@mixin make_children_flex($initialWidth: auto){
    // [FLEX GROW] [FLEX SHRINK] [FLEXBASIS]
    // Flex grow makes the div grow according to the width
    // Flex shrink how much shrink it needs to do defualt to 0 no shrink
    // Flex basis is the initial width
    @if $initialWidth == auto {
        flex: 1 0 $initialWidth;
    } @else {
        flex: 0 0 $initialWidth;
    }

}
@mixin make_middle(){
    margin-left: auto !important;
    margin-right: auto !important;
}
@mixin make_a_link($paddingLeftRight: 10px,$paddingTopBottom: 5px){
    padding-left: $paddingLeftRight;
    padding-right: $paddingLeftRight;
    padding-top: $paddingTopBottom;
    padding-bottom: $paddingTopBottom;
}
// Below mixins that will help check whether the rule is being applied
@mixin check(){
    border:3px solid red !important;
    background-color: greenyellow !important;
}
