$main_header_link_size: 16px;
$main_blue_color: #6BACDE;
$main_purple_color: #7F5CA2;
$main_orange_color: #FF7F2A;
$main_teal_color: #A9D6CB;

$calendar_page_selected_bg: #6BACDE;
$managejobs_border: 1px solid #ccc;
$managejobs_page_padding: 10px;
$managejobs_border_radius: 8px;


