@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "edmixins";
@import "scheduling_variables";

/* ----------------HEADER START---------------------*/

.wrapper-header {
  overflow: auto;
  padding: 5px;
  box-sizing: border-box;
  min-width: 700px;

  .container-header {
    vertical-align: middle;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-header .left {
    flex-basis: 230px;
    flex-shrink: 0;
  }
  .container-header .left .logo {
    floaft: left;
  }
  .container-header .left .logo img {
    height: 75px;
  }
  .container-header .right {
    border: 0px black solid;
    float: right;
    text-align: right;
    flex: 1;
    box-sizing: border-box;
    padding-right: 10px;
  }
}

.table-contain-header{
  .left{
    width: 200px;
    text-align: left;
  }
  .right{

   }
}

/*-------------END HEADER ---------------------*/
.wrapper-header-option {
  overflow: auto;
  .container-header-option {
    border-top: 0px solid #66BDEE;
  }
}

 /*--------- Wrapper-view-content -----------*/
.wrapper-view-content {
  width: 100%;
  height: 100px;
  .container-view-content {
    padding: 5px;
    background-color: #7F5CA2;
  }
  .container-view-content .ui.definition.table td{ padding: 0; border-right: 1px solid #ccc; }
  .container-view-content .ui.definition.table td:last-child{ border-right: 0px solid #ccc; }
  .container-view-content .ui.definition.table td:first-child{ border-right: 0px solid #ccc; }
  .container-view-content .ui.definition.table th{ width: 15%;  }
  .container-view-content .ui.definition.table th.department{ width: 100px;color: #000; font-weight: bold; }
  .container-view-content .ui.definition.table th { text-align: center;}
  .container-view-content .ui.definition.table td.label{ padding: 10px;}
  .container-view-content .ui.definition.table td.label.insert{ padding: 0px;text-align: center; padding-top: 3px;padding-bottom: 3px; background-color: #7F5CA2; color:#fff;}
  .container-view-content .ui.definition.table td.label.insert~ td{ background-color: #7F5CA2;border-right: 1px solid #7F5CA2; }
  .container-view-content .ui.definition.table td.label.imaging{padding: 0px;text-align: center; padding-top: 3px;padding-bottom: 3px;background-color: #1F96DB;  color:#fff;}
  .container-view-content .ui.definition.table td.label.imaging~ td{background-color: #1F96DB; border-right: 1px solid #1F96DB;}
}

/* -----------header_text_control ------------ */

.header_text_control {
  display: flex;
  div { flex: 1}
  .left{ }
  .middle{ flex: 0 0 50%;}
  .middle .date{ font-size: 30px; }
  .right{  flex: 0 0 200px; text-align: right; font-size: 20px;}
  .right .chooseDate{ font-size: 13px;}
}
/* ----------- Container, Menu and Pages  ------------ */


.content_holder{
  .page_holder{
      margin-top: 10px;
      /** PAGES GOES BELOW **/
      .CalendarPage{

          background-color: white;
          border-radius: $managejobs_border_radius;
          border-top-left-radius: 0px;
          border-top-right-radius:  0px;

          .menu_sub{
              display: flex;
              background-color: $calendar_page_selected_bg;

              .left{
                  @include make_children_flex();
              }
              .right{
                  @include make_children_flex();
                  text-align: right;
                  .links{
                        font-size: 15px;
                        padding: 10px 20px;
                        border: 0px solid #ccc;
                        display: inline-block;
                      color: #fff;

                  }
                  .selected{
                      color: #000;
                      background-color: #fff;

                  }

              }
          }
          .body{
              padding: 10px;
              padding-top:20px;
          }
      }
      .ManageJobsPage{
          padding: 10px;
          background-color: white;
          border-radius: $managejobs_border_radius;

          .menu_sub{
              margin-bottom: 0px;
              margin-top:  5px;
              padding-bottom: 5px;

              a{
                  color: #ccc;
              }
              .links{
                  padding-right: 10px;
                  padding-left: 10px;
                  padding-bottom: 6px;
                  padding-top: 5px;
                  border-bottom: 0px;
                  font-size: 16px;
                  margin-right: 10px;
                  @include border-top-radius($managejobs_border_radius);
                  position: relative;
                  z-index: 10;
                  background-color: #777;
                  color: white;

              }
              .selected{
                  border: $managejobs_border;
                  border-bottom: 2px solid #fff;
                  position: relative;
                  color: #000;
                  z-index: 30;
                  background-color: #ffffff;
              }
              // This is for sub links of the manage jobs
              .jobs_link{}
              .schedule_link{}
              .newedit_link{}
          }
          ._manage_job_page {
              z-index: 20;
              position: relative;
              border: $managejobs_border;
              padding: $managejobs_page_padding;
              border-radius: $managejobs_border_radius;
              border-top-left-radius: 0px;
          }
          // MANAGE JOB - JOBS PAGE
          .jobs{
            @extend ._manage_job_page;
              .main_container{
                  display: flex;
                  .left{
                      @include make_div();
                      @include make_children_flex(250px);
                        text-align: center;
                      // DATE PICKER LIVES IN THE LEFT CORNER
                      .datepicker{
                          width: 250px !important;
                            @include make_middle();
                      }
                      .header{
                            margin-bottom:  10px;
                          .top{
                              font-size: .8em;
                          }
                          .bottom{
                              .day{ font-weight: bold; font-size: 18px;}
                              .date{}
                          }
                      }
                  }
                  .right{
                      @include make_div();
                      @include make_children_flex(auto);
                      // Template for content
                      ._content{
                          display:  flex;
                          border-bottom: 1px solid #ccc;
                          padding: 10px;
                          .left{
                              @include make_children_flex();
                              text-align: left;
                              font-size: 30px;
                              font-family: "Times New Roman", Georgia,Serif;
                          }
                          .right{
                              @include make_children_flex(200px);
                          }
                      }

                      // Content for the schedules page
                      .header.schedules{
                          .content{
                              @extend ._content;

                          }

                      }
                      // Content fo rthe jobbags page
                      .header.jobbags{
                          .content{
                              @extend ._content;

                          }
                      }

                  }
              }
          }
          // MANAGE JOB - SCHEDULE PAGE
          .schedule{
              @extend ._manage_job_page;
          }
          // MANAGE JOB - ADD/NEW EDIT PAGE
          .edit{
              @extend ._manage_job_page;
              .job_bag_add_edit {
                  width: 100%;
                  td{
                      padding: 0px;
                  }
              }

          }

      }
      .ManageTasksPage{
        padding: 10px;
          background-color: white;
          border-radius: $managejobs_border_radius;

      }
      .SchedulingSettingsPage{
        padding: 10px;
          background-color: white;
          border-radius: $managejobs_border_radius;


      }

  }
}
.menu{
   padding-top: 10px;
  .RouterLink{
    color: #fff;
    padding: 5px 10px;
    font-size: $main_header_link_size;

  }

  .RouterLinkSelected{
    background-color: #fff;
    color: #000;
    border-radius: $managejobs_border_radius;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 15px;
    border: 0px solid #2C7198 !important;
  }
    .RouterLinkSelected.calendar{
        background-color: $calendar_page_selected_bg;
        color: #fff;

    }



}

