@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "~compass-mixins";
@import "edmixins";
@import "scheduling_variables";

/* ----------------HEADER START---------------------*/

.wrapper-header {
  overflow: auto;
  padding: 5px;
  box-sizing: border-box;
  min-width: 700px;

  .container-header {
    vertical-align: middle;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-header .left {
    flex-basis: 230px;
    flex-shrink: 0;
  }
  .container-header .left .logo {
    floaft: left;
  }
  .container-header .left .logo img {
    height: 75px;
  }
  .container-header .right {
    border: 0px black solid;
    float: right;
    text-align: right;
    flex: 1;
    box-sizing: border-box;
    padding-right: 10px;
  }
}



/* ----------- Container, Menu and Pages  ------------ */


.content_holder{
  .page_holder{
      margin-top: 10px;
      /** PAGES GOES BELOW **/
      .CalendarPage{

          background-color: white;
          border-radius: $managejobs_border_radius;
          border-top-left-radius: 0px;
          border-top-right-radius:  0px;

          .menu_sub{
              display: flex;
              background-color: $calendar_page_selected_bg;

              .left{
                  @include make_children_flex(58%);


                  .current_date{
                      color: lighten($main_blue_color,30%);
                      font-size: 12px;
                      padding: 10px;
                      float: left;
                  }
              }
              .right{
                  @include make_children_flex();
                  text-align: right;
                  .links{
                        font-size: 15px;
                        padding: 10px 20px;
                        border: 0px solid #ccc;
                        display: inline-block;
                      color: #fff;

                  }
                  .selected{
                      color: #000;
                      background-color: #fff;

                  }

              }
          }
          .body{
              padding: 10px;
              padding-top:20px;

              // Calendar Main Page
              .calendar_view.center{
                  text-align: center;
                  margin: 20px;
              }
              .calendar_view{

                    font-size: 11px;
                    ._padding_between{
                        margin: 5px;
                    }
                    .first{
                        display: flex;
                        .left{
                            @extend ._padding_between;
                            @include make_children_flex();
                            .title{
                                font-size: 20px;
                                padding: 0px;
                                img{
                                    margin-bottom: -6px;
                                }
                            }


                        }
                        .right{
                            @extend ._padding_between;
                            @include make_children_flex(200px);
                            .mini_calendar_text_field{
                                width: 200px;
                            }
                            i{
                                margin-top: 5px;
                            }

                        }

                    }
                    .head_link i{
                        color: darken($main_blue_color,20%);
                        cursor: pointer !important;
                    }
                    .head_link i:hover{
                      color: $main_purple_color !important;
                      cursor: pointer !important;
                    }
                    .head_link a{
                        color: $main_blue_color !important;
                        cursor: pointer !important;

                    }
                    .head_link a:hover{
                      color: $main_purple_color !important;
                    }
                    .second{
                        text-align:  center;
                        margin-bottom: 10px;

                        .date_range{
                            .labels{ }
                            .date_label{ font-size: 15px; font-weight: bold; }
                            .day_label{ font-size: 17px; color: $main_blue_color; }
                            .range_date{
                                font-size: 15px;
                                font-weight: bold;
                            }
                            i{border: 0px solid #fff; font-size: 17px;}
                            .calendar_holder{
                                .change_range_label{
                                    font-size:  15px;
                                }

                            }
                        }
                    }
                    .third{
                        display: flex;

                        // This is the main calendar itself
                        .left{
                            // Below are CSS RULE for ui's

                            @extend ._padding_between;
                            @include make_children_flex();

                            table{
                                width:  100%;
                                .header_department_label{ font-size: 14px;}
                                .header_date{
                                    text-align:center;
                                    .day_label{
                                        font-size: 14px;

                                    }
                                    .add_label{ font-size: 14px; }
                                    .date_label{}
                                }
                                .today{
                                    background-color: lighten($main_orange_color,40%);
                                    .day_label{
                                        color: darken($main_blue_color,20%);
                                    }
                                    .add_label{
                                        color:darken($main_blue_color,20%);
                                        cursor: pointer;
                                    }
                                }
                                .highlight_drag{
                                    background-color: #efefef;
                                }
                                // Department labels
                                .parent_dept{
                                    background-color: lighten($main_purple_color,40%);
                                    font-weight: bold;
                                }
                                .child_dept{
                                    font-weight: bold;
                                    vertical-align: top;

                                }
                                // Individual cell data
                                .tdCell{
                                    vertical-align: top;
                                    .group{
                                        .cell{

                                            box-sizing: border-box;
                                            clear: both;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            margin-bottom: 10px;

                                            .contain{
                                                margin: 1px;


                                                .cell_head{
                                                    td{
                                                        border: 0px solid #fff !important;
                                                        padding: 0px !important;
                                                        color: #fff;
                                                        i{
                                                            margin: 0px;
                                                        }
                                                    }
                                                    ._arrow{ width: 18px;}
                                                    .cell_left{
                                                        @extend ._arrow;
                                                        text-align: left;
                                                        i{ cursor: pointer; }
                                                    }
                                                    .cell_middle{  text-align: center; }
                                                    .cell_right{
                                                        @extend ._arrow;
                                                        text-align: right;
                                                        i{ cursor: pointer; }

                                                    }

                                                }
                                                .cell_title{
                                                    background-color: #fff;
                                                    padding: 5px;
                                                }
                                            }

                                        }

                                    }
                                }
                            }
                        }
                        // This is the prism side bar
                        .right{
                            @extend ._padding_between;
                            @include make_children_flex(160px,0);

                            header{
                                padding: 10px;
                                background-color: lighten($main_blue_color,30%);
                                border-top: 2px solid darken($main_blue_color,30%);
                                color: darken($main_blue_color,30%);

                                .label{ font-weight: bold; font-size: 12px; }
                                .range{ font-size: 12px; }
                            }
                            // This is the main content for the job bags in prism
                            article{
                                margin-top: 7px;
                                .aside_label{
                                    border-bottom: 2px solid darken($main_blue_color,30%);
                                    padding: 3px;
                                    clear: both;
                                    .day{ font-weight: bold; }
                                    .date{

                                    }
                                }
                                //This is for link on side prism job

                                .aside_jobs{
                                    width: 160px;
                                    border-bottom: 1px solid #eee;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    cursor: pointer;
                                    padding-left: 5px;
                                }
                                .aside_jobs:hover{

                                }
                                .aside_jobs.selected{
                                    background-color: lighten($main_orange_color,35%);
                                    color: darken($main_orange_color,30%);
                                    font-weight: bold;
                                    border-bottom: 1px solid #fff;

                                }
                                .aside_jobs.scheduled{
                                    background-color: lighten($main_teal_color,20%);
                                    color: #000;
                                    border-bottom: 1px solid #fff;
                                }

                            }

                        }
                    }

              }
              .calendar_manage{
                  @extend .calendar_view;
                  // The header labels for viewing days

                    .job_header{
                        width: 100%;
                        border-bottom: 1px solid $main_grey_color;
                        th{
                            border-right: 1px solid $main_grey_color;
                        }
                        th:first-child{
                            border-left: 1px solid $main_grey_color;
                        }
                    }

                  // Manage Page
                  .fourth{
                      display: flex;
                      // The actual content of manage page
                      .left{
                          @include make_children_flex();
                          // ---------------------------------------------------
                          // Viewing all days from the manage tab page
                          .all_days{
                              // Container of each day
                              .container{
                                  .header{
                                      background-color: $main_grey_color;
                                      display: flex;
                                      .left_of_all_days {
                                          @include make_children_flex();
                                          .content{
                                              padding: 10px;
                                              .day{ font-size: 20px; }
                                              .date{ padding-left: 20px; }
                                          }
                                      }
                                      .right_of_all_days{

                                          @include make_children_flex(50px);
                                      }
                                  }
                                  .body{
                                      padding: 0px;
                                      margin-top: 10px;
                                      text-align: center;

                                      // Individual departments per day
                                      .department_container{
                                          .department_header{
                                              color: darken($main_blue_color,25%);
                                              border-top: 1px solid $main_grey_color;
                                              margin-top: 10px;
                                          }
                                          .department_header_main{
                                              font-size: 15px;
                                              font-weight: bold;
                                          }
                                          .department_body{
                                                // The children of the department
                                                .department_container_kid{
                                                    .kid_header{
                                                       @extend  .department_header_main;
                                                    }
                                                    .kid_body{

                                                    }
                                                }
                                          }
                                      }
                                  }
                              }
                              // UL group job sortable
                              .sortable.list{
                                  text-align: left;
                                  list-style:  none;
                                  margin: 0px;
                                  padding: 0px;
                                  li{

                                      table{
                                          width: 100%;
                                          margin-bottom: 1px;
                                          background-color: lighten($main_blue_color,30%);

                                          th{
                                              border-right: 1px solid #ffffff;
                                              padding: 5px;
                                              font-weight: normal;
                                          }
                                          th:last-child{ border-right: 0px solid #fff; }
                                      }
                                  }
                              }
                          }

                      }
                      // You can have extra navigation here
                      .right{
                          @include make_children_flex(0px);

                      }
                  }
                  // When viewing a particular department in a week
                  .department_view{
                      .container{

                      }
                  }

              }
          }
      }
      .ManageJobsPage{
          padding: 10px;
          background-color: white;
          border-radius: $managejobs_border_radius;

          .menu_sub{
              margin-bottom: 0px;
              margin-top:  5px;
              padding-bottom: 5px;


              a{
                  color: #ccc;
              }
              .links{
                  padding-right: 10px;
                  padding-left: 10px;
                  padding-bottom: 6px;
                  padding-top: 5px;
                  border-bottom: 0px;
                  font-size: 16px;
                  margin-right: 10px;
                  @include border-top-radius($managejobs_border_radius);
                  position: relative;
                  z-index: 10;
                  background-color: #777;
                  color: white;

              }
              .selected{
                  border: $managejobs_border;
                  border-bottom: 2px solid #fff;
                  position: relative;
                  color: #000;
                  z-index: 30;
                  background-color: #ffffff;
              }
              // This is for sub links of the manage jobs
              .jobs_link{}
              .schedule_link{}
              .newedit_link{}
          }
          ._manage_job_page {
              z-index: 20;
              position: relative;
              border: $managejobs_border;
              padding: $managejobs_page_padding;
              border-radius: $managejobs_border_radius;
              border-top-left-radius: 0px;
          }
          // MANAGE JOB - JOBS PAGE
          .jobs{
            @extend ._manage_job_page;
              .main_container{
                  display: flex;
                  .left{
                      @include make_div();
                      @include make_children_flex(250px);
                        text-align: center;
                      // DATE PICKER LIVES IN THE LEFT CORNER
                      .datepicker{
                          width: 250px !important;
                            @include make_middle();
                      }
                      .header{
                            margin-bottom:  10px;
                          .top{
                              font-size: .8em;
                              font-weight: bold;
                          }
                          .bottom{
                              .day{  font-weight: bold;   }
                              .date_from{  font-size: 15px;   }
                              .date_to{    font-size: 15px;   }
                          }
                      }
                  }
                  .right{
                      @include make_div();
                      @include make_children_flex(auto);
                      // Template for content
                      ._content{
                          display:  flex;
                          padding: 10px;
                          .left{
                              @include make_children_flex();
                              text-align: left;
                              font-size: 25px;
                          }

                          .right{
                              @include make_children_flex(300px);
                          }
                      }

                      // Content for the schedules page
                      .header.schedules{
                          .content{
                              @extend ._content;

                          }

                      }
                      // Content for the jobbags page
                      .header.jobbags{
                          .content{
                              @extend ._content;
                          }
                      }
                      .body{
                          .info{
                              border-top:    1px solid $main_grey_color;
                              border-bottom: 1px solid $main_grey_color;
                              padding: 5px;
                          }
                      }

                  }
              }
          }
          // MANAGE JOB - SCHEDULE PAGE
          .schedule{
              @extend ._manage_job_page;
          }
          // MANAGE JOB - ADD/NEW EDIT PAGE
          .edit{
              @extend ._manage_job_page;
              .job_bag_add_edit {
                  width: 100%;
                  td{
                      padding: 0px;
                  }
              }
              // This is the container of the main create/edit job page
              .manage_job_ce_container{
                  .manage_page_ce_header{
                      .head{
                          font-size: 25px;

                          .title{
                              color: darken($main_blue_color,15%);
                          }
                      }
                      margin-bottom: 10px;
                      border-bottom: 1px solid #eee;
                      padding: 10px;
                  }
              }
          }

      }
      .ManageTasksPage{
          padding: 10px;
          background-color: white;
          border-radius: $managejobs_border_radius;
          ._header_page{
              font-size: 20px;
              margin-bottom: 5px;
              padding: 5px;
          }
          header{
            @extend ._header_page;
          }
          .first{
              display: flex;
              .left{
                  @include make_children_flex();
              }
              .right{
                  @include make_children_flex(200px);
              }
          }
          article.second{
             .sidebar_container{
                border-radius: 0px;
                box-shadow: none;
                padding: 0px;
                border: 1px solid #ccc;

                .sidebar{
                    @extend .sidebar_container;
                    border: 0px solid #fff;
                    background-color: $main_blue_color;
                }
                .main_content {
                    text-align: left;
                    .header{
                        background-color: #eee;
                    }
                    .content{}
                }
             }
          }
      }
      .UserSettingsPage{
         @extend  .ManageTasksPage;

          header{
              @extend ._header_page;
          }
          article{

          }
      }
      .SchedulingSettingsPage{
          @extend  .ManageTasksPage;
            header{
                @extend ._header_page;
            }
            article{
                .important_note{
                    background-color: lighten($main_blue_color, 30%);
                    box-sizing: border-box;
                    padding: 10px;
                    border-radius: 5px;
                    width: 100%;
                }
                textarea{
                    width: 100%;
                    padding: 5px;
                    height:100px;
                    min-height:  100px;
                    max-height:  100px;
                }
                table{
                    width: 100%;
                    td {
                        width: 50%;
                        text-align: left;
                    }
                }
            }
          // Reference container
          .reference_doc{
              padding: 10px;
              .header{

              }
              .content{

              }
          }
      }


  }
}
// Individual Job in calendar page width@configuration
th.jnu{width: $job_table_w_jnu;}
th.csr{width: $job_table_w_csr;}
th.cli{width: $job_table_w_cli;}
th.qty{width: $job_table_w_qty;}
th.jna{}
th.dat{width: $job_table_w_dat; }
th.pri{width: $job_table_w_pri; }
th.sto{width: $job_table_w_sto; }

// Add recurring window
.add_recurring{
    position: relative;
    margin-right: 35px!important;
    padding: 5px!important;
    .add_recurring_window{
        width: 200px;

        table{
            width: 100%;
            td{padding: 6px;}
            .head{ color: #fff; background-color: darken($main_blue_color,0%); }
            .day{ font-weight: bold; font-size: 22px; padding-bottom: 0px !important; }
            .date{ font-size: 11px;  border-bottom: 0px solid #ccc; padding-top: 0px !important; }
            .body{ }
            .button{}
        }
    }
}
// Job card pop up
.job_card_datepicker{
    width: 135px!important;
    font-size: 11px;
}
.prism_popup{
    position: relative;
    margin-top: -100px!important;
    padding: 0px!important;
    // This is the job card
    .job_card{
        .schedule_to_container{
            border: 1px solid #eee;
            padding: 5px;
            .job_type {
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
        }
        border-top: 2px solid darken($main_teal_color,35%)!important;

        ._padding{
            padding: 5px;
        }
        header{
            background-color: lighten($main_teal_color,20%);
            border-bottom: 1px solid #eee;
            @extend ._padding;

            .first{
                table{
                    font-size: 10px;
                    width: 100%;
                    td{ border: 0px solid #ccc; }
                    .cell_qty{text-align: right;  }
                    .cell_prism_number{}
                    .title{ font-weight: bold; font-size: 15px; color: darken($main_teal_color,30%)}
                    .customer{ }
                }

            }
        }
        .body{
            @extend ._padding;
            table{
                width: 100%;
                td{ border-bottom: 1px solid #eee; }
                .label{ font-weight: bold; }
                .info{ border-bottom: 0px solid #ccc;}
            }
        }
        footer{

            @extend ._padding;

        }
    }
}
.menu{
   padding-top: 10px;
  .RouterLink{
    color: #fff;
    padding: 5px 10px;
    font-size: $main_header_link_size;

  }

  .RouterLinkSelected{
    background-color: #fff;
    color: #000;
    border-radius: $managejobs_border_radius;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 15px;
    border: 0px solid #2C7198 !important;
  }
    .RouterLinkSelected.calendar{
        background-color: $calendar_page_selected_bg;
        color: #fff;

    }

}

