@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "../../../node_modules/bourbon-neat/app/assets/stylesheets/neat";
@import "~compass-mixins";
@import "edmixins";
@import "scheduling_variables";

/* ----------------HEADER START---------------------*/

.wrapper-header {
  overflow: auto;
  padding: 5px;
  box-sizing: border-box;
  min-width: 700px;

  .container-header {
    vertical-align: middle;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-header .left {
    flex-basis: 230px;
    flex-shrink: 0;
  }
  .container-header .left .logo {
    floaft: left;
  }
  .container-header .left .logo img {
    height: 75px;
  }
  .container-header .right {
    border: 0px black solid;
    float: right;
    text-align: right;
    flex: 1;
    box-sizing: border-box;
    padding-right: 10px;
  }
}



/* ----------- Container, Menu and Pages  ------------ */


.content_holder{
  .page_holder{
      margin-top: 10px;
      /** PAGES GOES BELOW **/
      .CalendarPage{

          background-color: white;
          border-radius: $managejobs_border_radius;
          border-top-left-radius: 0px;
          border-top-right-radius:  0px;

          .menu_sub{
              display: flex;
              background-color: $calendar_page_selected_bg;

              .left{
                  @include make_children_flex();
              }
              .right{
                  @include make_children_flex();
                  text-align: right;
                  .links{
                        font-size: 15px;
                        padding: 10px 20px;
                        border: 0px solid #ccc;
                        display: inline-block;
                      color: #fff;

                  }
                  .selected{
                      color: #000;
                      background-color: #fff;

                  }

              }
          }
          .body{
              padding: 10px;
              padding-top:20px;

              // Calendar Main Page
              .calendar_view{
                    font-size: 11px;
                    ._padding_between{
                        margin: 5px;
                    }
                    .first{
                        display: flex;
                        .left{
                            @extend ._padding_between;
                            @include make_children_flex();
                            .title{
                                font-size: 20px;
                                margin: 0px;
                                padding: 0px;
                                img{
                                    margin-bottom: -6px;

                                }
                            }
                            .body{
                                .range_date{
                                    font-size: 17px;
                                    font-weight: bold;
                                }
                                .next{  }
                                .previous{}
                                i{border: 0px solid #fff; font-size: 15px;}
                                .calendar_holder{
                                    i{font-size:  15px; }
                                    .change_range_label{
                                        font-size:  15px;
                                    }

                                }
                            }

                        }
                        .right{
                            @extend ._padding_between;
                            @include make_children_flex(270px);

                        }

                    }
                    .second{
                        display: flex;
                        // This is the main calendar itself
                        .left{

                            @extend ._padding_between;
                            @include make_children_flex();
                            table{


                                .header_department_label{ font-size: 14px; width: 130px;}
                                .header_date{
                                    text-align:center;
                                    .day_label{ font-size: 14px; }
                                    .date_label{}
                                }
                                .today{
                                    background-color: lighten($main_orange_color,40%);
                                    .day_label{
                                        color: darken($main_blue_color,20%);
                                    }
                                }

                                // Rows
                                .parent_row{
                                    background-color: lighten($main_purple_color,40%);
                                    font-weight: bold;
                                }
                                .child_row{
                                    font-weight: bold;
                                }
                            }
                        }
                        // This is the side bar
                        .right{
                            @extend ._padding_between;
                            @include make_children_flex(160px);

                            header{
                                padding: 10px;
                                background-color: lighten($main_blue_color,30%);
                                border-top: 2px solid darken($main_blue_color,30%);
                                color: darken($main_blue_color,30%);

                                .label{ font-weight: bold; font-size: 12px; }
                                .range{ font-size: 12px; }
                            }
                            // This is the main content for the job bags in prism
                            article{
                                margin-top: 7px;
                                .aside_label{
                                    border-bottom: 2px solid darken($main_blue_color,30%);
                                    padding: 3px;
                                    clear: both;
                                    .day{ font-weight: bold; }
                                    .date{

                                    }
                                }
                                //This is for link on side prism job

                                .aside_jobs{
                                    width: 155px;
                                    border-bottom: 1px solid #ccc;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    cursor: pointer;
                                }
                                .aside_jobs:hover{
                                    background-color: #eee;
                                }
                                .aside_jobs.selected{
                                    background-color: #eee;
                                }


                            }

                        }
                    }

              }
              .calendar_manage{

              }
          }
      }
      .ManageJobsPage{
          padding: 10px;
          background-color: white;
          border-radius: $managejobs_border_radius;

          .menu_sub{
              margin-bottom: 0px;
              margin-top:  5px;
              padding-bottom: 5px;

              a{
                  color: #ccc;
              }
              .links{
                  padding-right: 10px;
                  padding-left: 10px;
                  padding-bottom: 6px;
                  padding-top: 5px;
                  border-bottom: 0px;
                  font-size: 16px;
                  margin-right: 10px;
                  @include border-top-radius($managejobs_border_radius);
                  position: relative;
                  z-index: 10;
                  background-color: #777;
                  color: white;

              }
              .selected{
                  border: $managejobs_border;
                  border-bottom: 2px solid #fff;
                  position: relative;
                  color: #000;
                  z-index: 30;
                  background-color: #ffffff;
              }
              // This is for sub links of the manage jobs
              .jobs_link{}
              .schedule_link{}
              .newedit_link{}
          }
          ._manage_job_page {
              z-index: 20;
              position: relative;
              border: $managejobs_border;
              padding: $managejobs_page_padding;
              border-radius: $managejobs_border_radius;
              border-top-left-radius: 0px;
          }
          // MANAGE JOB - JOBS PAGE
          .jobs{
            @extend ._manage_job_page;
              .main_container{
                  display: flex;
                  .left{
                      @include make_div();
                      @include make_children_flex(250px);
                        text-align: center;
                      // DATE PICKER LIVES IN THE LEFT CORNER
                      .datepicker{
                          width: 250px !important;
                            @include make_middle();
                      }
                      .header{
                            margin-bottom:  10px;
                          .top{
                              font-size: .8em;
                          }
                          .bottom{
                              .day{ font-weight: bold; font-size: 18px;}
                              .date{}
                          }
                      }
                  }
                  .right{
                      @include make_div();
                      @include make_children_flex(auto);
                      // Template for content
                      ._content{
                          display:  flex;
                          border-bottom: 1px solid #ccc;
                          padding: 10px;
                          .left{
                              @include make_children_flex();
                              text-align: left;
                              font-size: 30px;
                              font-family: "Times New Roman", Georgia,Serif;
                          }

                          .right{
                              @include make_children_flex(200px);
                          }
                      }

                      // Content for the schedules page
                      .header.schedules{
                          .content{
                              @extend ._content;

                          }

                      }
                      // Content fo the jobbags page
                      .header.jobbags{
                          .content{
                              @extend ._content;

                          }
                      }

                  }
              }
          }
          // MANAGE JOB - SCHEDULE PAGE
          .schedule{
              @extend ._manage_job_page;
          }
          // MANAGE JOB - ADD/NEW EDIT PAGE
          .edit{
              @extend ._manage_job_page;
              .job_bag_add_edit {
                  width: 100%;
                  td{
                      padding: 0px;
                  }
              }

          }

      }
      .ManageTasksPage{
        padding: 10px;
          background-color: white;
          border-radius: $managejobs_border_radius;

      }

      .SchedulingSettingsPage{
        padding: 10px;
          background-color: white;
          border-radius: $managejobs_border_radius;


      }

  }
}
// Job card pop up
.job_card_datepicker{
    width: 130px;
    font-size: 11px;
}
.popup{
    position: relative;
    margin-top: -100px!important;
    padding: 0px!important;
    // This is the job card
    .job_card{
        .schedule_to_container{
            .job_type {
                padding-top: 5px !important;
            }
        }
        border-top: 2px solid darken($main_teal_color,35%)!important;

        ._padding{
            padding: 5px;
        }
        header{
            background-color: lighten($main_teal_color,20%);
            border-bottom: 1px solid #eee;
            @extend ._padding;

            .first{
                table{
                    width: 100%;
                    td{ border: 0px solid #ccc; }
                    .cell_qty{text-align: right; }
                    .cell_prism_number{}
                    .title{ font-weight: bold; font-size: 15px; color: darken($main_teal_color,30%)}
                    .customer{ }
                }

            }
        }
        .body{
            @extend ._padding;
            table{
                width: 100%;
                td{ border-bottom: 1px solid #eee; }
                .label{ font-weight: bold; }
                .info{ border-bottom: 0px solid #ccc;}
            }
        }
        footer{

            @extend ._padding;

        }
    }
}
.menu{
   padding-top: 10px;
  .RouterLink{
    color: #fff;
    padding: 5px 10px;
    font-size: $main_header_link_size;

  }

  .RouterLinkSelected{
    background-color: #fff;
    color: #000;
    border-radius: $managejobs_border_radius;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 15px;
    border: 0px solid #2C7198 !important;
  }
    .RouterLinkSelected.calendar{
        background-color: $calendar_page_selected_bg;
        color: #fff;

    }

}

